

.amount-container{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}


.amount-box{
    padding: 20px;
    border: 1px solid gray;
    width: 200px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* font-size: 40px; */
    font-weight: bold;
    border-radius: 5px;
    box-shadow: 4px 4px 8px gray;
}

.deposite{
    background-color: #343c97;
    color: white;
}
.withdraw{
    background-color: #5d66c9;
    color: white;
}
.total{
    background-color: #666a91;
    color: white;
}

.deposite-withdra-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    gap: 50px;
    text-align: center;
}

.btn{
    padding: 10px 20px;
    margin-top: 20px;
}

.input-box{
    padding: 30px;
    /* border: 1px solid gray; */
}

input{
    padding: 10px 20px;
}
.withdraw-btn{
    background-color: rgb(61, 134, 61);
    color: white;
    font-size: bold;
    border: none;
}

.deposite-btn{
    background-color: #5d66c9;
    color: white;
    font-size: bold;
    border: none;
}
.amount{
    font-size: 40px;
}